
<!DOCTYPE html>
<html>

<head>
    <title>The Striven Word</title>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="css/css.css" />
</head>
    <body class="page-canvas">
		<div id="universal">		
			<header>
				<h1>The Striven Word</h1>
			</header>
			<main class="wrapper">
				{embed="modules/linklist"}
			</main>
			<footer>
                <div class="design-module">
                    <img src="img/reformanda-smoothed_black.svg" width="175px" alt="Reformanda logo" class="widget-pic" />
                </div>
                <div class="content-module">
                    <p>soli Deo gloria</p>
                </div>
                <div class="content-module">
                    <p>last modified 1/19/2070</p>
                </div>
            </footer>
		</div>
    </body>

</html>
