{layout="canvas/page_bg-image-centered-content"}

<div class="content-module">
	<ul>
		<li><a href="#">Web Journal</a></li>
		<li><a href="#">Esperanto Medium Blog</a></li>
		<li><a href="#" class="list-divider">Review Blog</a></li>
		<li><a href="#">Hive</a></li>
		<li><a href="#">LinkedIn</a></li>
		<li><a href="#">Tumblr</a></li>
		<li><a href="#" class="list-divider">Twitter</a></li>
		<li><a href="#">Adobe Stock</a></li>
		<li><a href="#">Pixabay</a></li>
		<li><a href="#">Open Clip Art</a></li>
	</ul>
</div>